<div class="container-fluid p-2 container mt-5" >
    <div class="row">
      <div class="alert alert-success" style="position: absolute; top: 100px; left: 210px; width: 1100px">
          <strong>Inscripción a un curso/Solicitar matriculación</strong>
      </div>
      <div id="matricularse" style="position: absolute; top: 170px; left: 198px">
        <a href="../inscripcion"><button id="buttonins">Automatricularme</button></a>
        <button id="disabled">Solicitar matriculación</button>
      </div>
      <div class="col-sm-6"  style="position: absolute; top: 227px; left: 200px; width: 1150px">
        <table class="table table-bordered" style="position: absolute; width: 1100px">
            <tr>
              <th>Imagen</th>
              <th>Nombre del Curso</th>
              <th>Docente</th>
              <th>Ver temas</th>
              <th> </th>
            </tr>
            <tr>
              <td><img src="../../../assets/pics/logotipoUTNG.png" alt="logotipoUTNG" width="70px" lang="100px"></td>
              <td>Ingresar nombre del curso</td>
              <td>Ingresar nombre del docente</td>
              <td><a href="../ver-temas"><img src="../../../assets/pics/lupa.png" alt="Lupa" width="55px" height="35px"></a></td>
              <td><button class="boton-modal" id="webada" onclick="document.getElementById('webada').classList.remove('boton-modal'),document.getElementById('webada').classList.add('boton-modal2')"><label for="btn-modal">Solicitar matriculación</label></button></td>
              <input type="checkbox" id="btn-modal">
            </tr>
            <tr>
              <td><img src="../../../assets/pics/logotipoUTNG.png" alt="logotipoUTNG" width="70px" lang="80px"></td>
              <td>Ingresar nombre del curso</td>
              <td>Ingresar nombre del docente</td>
              <td><a href="../ver-temas"><img src="../../../assets/pics/lupa.png" alt="Lupa" width="55px" height="35px"></a></td>
              <td><button class="boton-modal" id="webada1" onclick="document.getElementById('webada1').classList.remove('boton-modal'),document.getElementById('webada1').classList.add('boton-modal2')"><label for="btn-modal">Solicitar matriculación</label></button></td>
            </tr>
            <tr>
              <td><img src="../../../assets/pics/logotipoUTNG.png" alt="logotipoUTNG" width="70px" lang="80px"></td>
              <td>Ingresar nombre del curso</td>
              <td>Ingresar nombre del docente</td>
              <td><a href="../ver-temas"><img src="../../../assets/pics/lupa.png" alt="Lupa" width="55px" height="35px"></a></td>
              <td><button class="boton-modal" id="webada2" onclick="document.getElementById('webada2').classList.remove('boton-modal'),document.getElementById('webada2').classList.add('boton-modal2')"><label for="btn-modal">Solicitar matriculación</label></button></td>
            </tr>
            <tr>
              <td><img src="../../../assets/pics/logotipoUTNG.png" alt="logotipoUTNG" width="70px" lang="80px"></td>
              <td>Mates</td>
              <td>Ingresar nombre del docente</td>
              <td><a href="../ver-temas"><img src="../../../assets/pics/lupa.png" alt="Lupa" width="55px" height="35px"></a></td>
              <td><button class="boton-modal" id="webada3" onclick="document.getElementById('webada3').classList.remove('boton-modal'),document.getElementById('webada3').classList.add('boton-modal2')"><label for="btn-modal">Solicitar matriculación</label></button></td>
            </tr>
          </table>
      </div>
        <i class="glyphicon glyphicon-user"></i>
      </div>
    </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br> 
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>